:root {
  --darkBg: #323232;
  --lightBg: #fff;
  --textLighter: #6bd1ff;
  --themeColor: #2492e6;
  --hr: hsla(0, 0%, 100%, 0.2);
  --danger: #e91e63;
  --semiTransparent: #cdcdcd;
}

body {
  --bg: var(--lightBg);
  --invertedColor: var(--darkBg);
  --imgBg: var(--lightBg);
  --textNormal: #222;
  --textLink: var(--themeColor);
  --textTitle: #222;
  --inlineCode-bg: #fff9c4;
  --inlineCode-text: #1a1a1a;
  color: #333;
  background-color: var(--bg);
  transition: all 350ms ease-in-out;
}

body.dark {
  --bg: var(--darkBg);
  --invertedColor: var(--lightBg);
  --imgBg: var(--lightBg);
  --textNormal: rgba(255, 255, 255, 0.88);
  --textLink: var(--textLighter);
  --textTitle: #ffffff;
  --inlineCode-bg: #505050;
  --inlineCode-text: #e9e9e9;
  color: #fff;
  --semiTransparent: #111;
  -webkit-font-smoothing: antialiased;
}

/* #region tweaking code blocks (based on Remy Bach, Sarah Drasner and Dan Abramov) */
code[class*="language-"],
pre[class*="language-"] {
  color: white;
  background: none;
  /* font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace; */
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*="language-"]::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*="language-"]::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
}

.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(128, 147, 147);
}

.token.string,
.token.url {
  color: rgb(173, 219, 103);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color: rgb(247, 140, 108);
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(130, 170, 255);
}

.token.punctuation {
  color: rgb(199, 146, 234);
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: "italic";
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #ffa7c4;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  /* margin-left: -1.3125rem;
   margin-right: -1.3125rem; */
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*="language-"] {
  float: left;
  min-width: 100%;
}

/* #endregion */

/* fontawesome hack*/
.fab {
  font-family: "Font Awesome 5 Brands" !important;
}

/* #region site */

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2.75em;
}

.header--small {
  margin-bottom: 1.75em;
}

.main-title {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  border-bottom: 3px solid var(--textLink);
}

img {
  background-color: var(--imgBg);
}

.bio-box {
  display: flex;
  align-items: center;
  margin: 35px 0;
}

.bio-avatar {
  margin-bottom: 0;
  min-width: 50px;
  border-radius: 100%;
  margin-right: 10px;
}

.bio-text {
  margin-bottom: 0;
}

.subscription-container {
  display: flex;
  flex-direction: row;
  /* border-radius: 10px; */
  color: var(--darkBg);
  box-shadow: 0 1px 2px 1px var(--semiTransparent);
  overflow: hidden;
  --padding: 35px;
  font-weight: 100;
  margin: 50px 0;
}

.subscription-container h1,
h2,
h3,
h4 {
  margin: 0 0 10px 0;
}

.subscription-title {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f2f2f2;
  padding: var(--padding);
}

.subscription-form-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  padding: var(--padding);
}

.subscription-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}

.subscription-container .field {
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.9em;
  font-weight: 100;
  transition: all 150ms ease-in-out;
}

.subscription-container .field:hover,
.field:focus,
.field:active {
  box-shadow: 0 0 3px 0px var(--textLink);
}

.subscription-container .submit-btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  background: var(--themeColor);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 3px 0px #9c9898;
  transition: all 350ms ease-in-out;
}

.subscription-container .submit-btn:hover {
  opacity: 0.9;
}

.subscription-container .form-status {
  margin: 10px 0;
  font-size: 0.8em;
}

.subscription-container .form-status.status--error {
  color: var(--danger);
}

.subscription-container img {
  background: transparent;
  width: 70px;
  margin: 25px 0 0 0;
}

@media only screen and (max-width: 650px) {
  .subscription-container {
    flex-direction: column;
  }
}

.index-list-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  box-shadow: var(--semiTransparent) 0px 1px 2px 1px;
  margin: 20px 0;
  color: var(--textNormal);
  transition: all 250ms ease-in-out;
}

.index-list-container:hover{
  box-shadow: var(--textLink) 0px 0px 2px 1px;
}

.index-list-container .index-item-title{
  transition: all 200ms ease-in-out;
  color: var(--textTitle);
}

.index-list-container:hover .index-item-title{
  color: var(--textLink);
}


/* #endregion */
